name: Accessibility Regression Check

on:
  pull_request:

jobs:
  a11y:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: zachkklein/WCAG_PR_Checker@main
        with:
          APP_DIR: 'jumbohack2025'
          BUILD_DIR: 'out'
          URLS: '/'